<mat-tab-group selectedIndex="1"
               mat-stretch-tabs="false"
               mat-align-tabs="center"
               animationDuration="250ms">
  <mat-tab label="All ({{base.length}})">
    <app-list [base]="base"/>
  </mat-tab>
  <mat-tab label="Todo ({{countTodo}})">
    <app-list [base]="base" [filter]="filterUnfinished" [sort]="sortTodo"/>
  </mat-tab>
  <mat-tab label="Favourites ({{countFav}})">
    <app-list [base]="base" [filter]="filterFavourite"/>
  </mat-tab>
  <mat-tab label="Unfinished ({{countUnfin}})">
    <app-list [base]="base" [filter]="filterUnfinished"/>
  </mat-tab>
  <mat-tab label="Finished ({{countFin}})">
    <app-list [base]="base" [filter]="filterFinished"/>
  </mat-tab>
  <mat-tab label="Help">
    <div class="help">
      <h3>Maps</h3>
      <p>Maps can be favourited or marked as finished.</p>

      <h3>Tabs</h3>
      <ul>
        <li>All: just shows all maps</li>
        <li>Todo: Shows all unfinished, favourites first. This is intended as the primary tab as it lets you prioritize
          unfinished maps by favouriting them.
        </li>
        <li>Favourites: Shows only favourites</li>
        <li>Unfinished: Shows only unfinished</li>
        <li>Finished: Shows only finished</li>
      </ul>

      <h3>Code</h3>
      <ul>
        <li><a href="https://github.com/stackmagic/trackiesttracky">https://github.com/stackmagic/trackiesttracky</a>
        </li>
      </ul>

      <h3>Related</h3>
      <ul>
        <li><a href="https://kackyreloaded.com/">https://kackyreloaded.com/</a></li>
        <li><a href="https://kacky.gg/">https://kacky.gg/</a></li>
      </ul>

      <h3>Your Data</h3>
      <p>All user-entered data is stored in localStorage of your browser and won't leave your computer!</p>
      <p>If you want to move your data to another system, Press F12, go to the Application tab and select
        "localStorage". Copy the data and insert it the same way on the other system.</p>
      <p>
        <button (click)="deleteClicked()" mat-flat-button class="warning">Delete your data</button>
      </p>
    </div>
  </mat-tab>
</mat-tab-group>
